
body {margin: 0;padding-top: 65px;padding-left: 5px;padding-right: 5px;border-color: #cc0000;background-image: url('paper-1.png');color: #000000;

}

#chatArea {
  border: 2px solid #999;
  box-shadow: 3px 3px 3px #bbb;
  
}

#middleArea {
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
  border: 3px solid black;
  box-shadow: 3px 3px 1px #bbb;
  
}

#gameArea {
  border: 2px solid #999;
  box-shadow: 3px 3px 1px #bbb;
}

td.slothTD {padding: 2px;border: solid 1px;}

.tableHeaderLight { 
  background-color:hsla(0,0%,95%,0.8);font-size:1.6em;font-variant:small-caps;color:#333;text-align:center;width:60%;height:40px;vertical-align:middle;
  border:3px solid #999;margin:20px auto;margin-top:0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  } 

.tableHeaderDark { 
  background-color:hsla(0,0%,17%,0.8);font-size:1.6em;font-variant:small-caps;color:#eee;text-align:center;width:60%;height:40px;vertical-align:middle;
  border:3px solid black;margin:20px auto;margin-top:0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  } 

.lbHeader {width: 100%;}

.lbTable1st {font-weight:bolder;font-size:1.1em;}
.lbTable {width: 100%;margin: auto;border:3px solid black;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.tableButtonDark {border:3px solid black;font-size:1.5em;width:40px;height:40px;vertical-align:center;text-align:center;color:#ddd;background-color:#282828;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.lbTable tr {font-size:1.1em;font-variant:small-caps;margin-top:0.4em;border:1px solid black;}
.lbTableRank {font-size: 1.4em;min-width:12%;width:12%;margin-left:0.2em;margin-right:0.2em;font-variant:small-caps;}

.lbTable tr:last-child {
  background-color:hsla(0,0%,17%,0.8) !important;color:#ffffff !important;font-size: 0.90em;border: 0px solid;text-align: center;font-variant:small-caps;
  height:25px;min-height:25px;border-top:3px solid black;}
.lbTable tr:nth-child(2n+1) {background-color: hsla(0,0%,98%,0.8);}
.lbTable tr:nth-child(2n+2) {background-color: hsla(0,0%,92%,0.8);}


.lbTable tr th {
  background-color:hsla(0,0%,17%,0.8);color:#eee;font-size: 1em;border-bottom: 3px solid black;text-align: center;font-variant:small-caps;font-weight:normal;}
.lbTable tr th select {background-color:#333;padding-left:0.4em;padding-right:0.4em;margin-left:1.5em;border:1px solid black;font-size:1.1em;width:40%;}
.lbTable tr th:first-child {text-align:left;}
.lbTable td {padding: 0.2em 0.4em 0.2em 0.4em;border: 0px solid;text-align: center;background:none;color:#282828;}
.lbTable td img  {border:1px solid black;}


.quizSessionTable {width:100%;margin-bottom:20px;}
.quizSessionTable Table {min-width:99.5%;width:99.5%;margin:auto;text-align:center;}
.quizSessionTable th {text-align:center;font-size:0.9em;font-variant:small-caps;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.quizSessionTable td {background-color:#f0f0f0;text-align:center;font-size:1.1em;border-bottom:1px solid #ddd;color:#000;}
.quizSessionTableHCardbox {width:18%;}
.quizSessionTableHDue {width:46%;text-align:left;}
.quizSessionTableHQuestion {width:18%;}
.quizSessionTableHScore {width:18%;}
.quizSessionTableCDue {text-align:left;font-variant:small-caps;}
.quizAlphaSuper {width:100%;text-align:center;margin-top:2.5em;margin-bottom:3.5em;display:inline-block;border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
.quizAlphaContain {background: inherit;margin:0 auto;text-align:center;display:table;}
.quizAlpha {background:inherit;font-size:2.8em;text-align:center;padding-left:10px;padding-right:10px;display: table-cell;vertical-align:top;line-height:1.5em;}
.quizAlphaLeft {background:inherit;font-size:1.9em;text-align:right;padding-right:0px;line-height:0.8em;display: table-cell;vertical-align:middle;color:#999;font-variant:small-caps;}
.quizAlphaRight {background:inherit;font-size:1.9em;text-align:left;padding-left:0px;line-height:0.8em;display: table-cell;vertical-align:middle;color:#999;font-variant:small-caps;}

.quizAnswerContain {width:50%;display:inline-block;vertical-align:center;padding:0px;}
.quizAnswerNumber {text-align:center;margin-top:5px;font-variant:small-caps;}
.quizAnswerBox {text-align:center;width:100%;display:inline-block;margin:auto;text-transform:uppercase;}
.quizAnswerRegion {padding-bottom:10px;width:100%;vertical-align:middle;overflow:auto;text-align:center;}

.wordTable {width:100%;margin-top:5px;align:left;border-top:1px solid #ddd;}
.wordTable tr {border-bottom: 1px solid #ddd;}
.wordTableHighlight {background-color: #f8f8f8;}
.wordTableHighlightWrong {background-color: #CCCCCC;}
.wordTableLeftHook {padding-right:5px;text-align:right;font-size:1em;font-variant:small-caps;}
.wordTableRightHook {padding-left:5px;text-align:left;font-size:1em;font-variant:small-caps;}
.wordTableWord {font-weight:bold;padding:0px;text-align:center;margin:0px;width:5%;color:#333;}
.wordTableInnerLeft {padding-right:0px;font-weight:bold;text-align:right;}
.wordTableInnerRight {padding-left:0px;font-weight:bold;text-align:left;}
.wordTableDefinition {padding-left:10px;}
.wordTableWrong {color:red;font-weight:bold;width:100%;text-align:right;}
   

